{
  "header": "KindScreen",
  "weatherConfig": {
    "enabled": true,
    "lat": "63.4203952",
    "lon": "10.4839164"
  },
  "clockConfig": {
    "enabled": true
  },
  "busConfig": {
    "enabled": true,
    "stopPlace": "NSR:StopPlace:42282"
  },
  "newsConfig": {
    "enabled": true,
    "rssFeed": "https://www.nrk.no/toppsaker.rss",
    "articleCount": 10
  },
  "updateCheck": true
}
