{
  "header": "KindScreen", // Header of the screen (can be empty)
  "weatherConfig": { // Config for weather module
    "enabled": true, // true/false
    "lat": "63.4203952", // latitude
    "lon": "10.4839164" // longitude
  },
  "busConfig": { // Config for bus module
    "enabled": true, // true/false
    "stopPlace": "NSR:StopPlace:42282" // StopPlace ID, can be found at: https://stoppested.entur.org
  },
  "newsConfig": { // Config for news module
    "enabled": true, // true/false
    "rssFeed": "https://www.nrk.no/toppsaker.rss", // Url for nrk.no rss feed. All feed urls: https://nrk.no/rss
    "articleCount": 10 // How many news article should be shown
  }
}